.auth-container {
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    margin-top: -100px;
    width: 100%;
    justify-content: center;
}
.auth-container--box {
    padding: 24px 32px;
    text-align: center;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    min-width: 350px;
    max-width: 100%;
}
.auth-container--box .tab-selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.auth-container--box .tab-selector h3 {
    margin: 0;
}
.auth-container--box .tab-selector a {
    flex-grow: 1;
    display: inline-block;
    padding-bottom: 0;
    background-color: #f2f4f3;
    padding: 8px;
    text-decoration: none;
}
.auth-container--box .tab-selector a:visited {
    color: #b9bab8;
}
.auth-container--box .tab-selector a.active {
    color: #04030f;
    border-radius: 4px;
    background-color: #edfdfb;
}
.auth-container--box form {
    text-align: left;
}
.auth-container--box form .input-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}
.auth-container--box form .input-wrap label {
    margin-bottom: 4px;
}
.auth-container--box form .input-wrap input {
    padding: 8px 14px;
}
.auth-container--box form .button-wrap {
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
}
.auth-container--box form .button-wrap button {
    margin-right: 0;
}
